html {
	border: 8px solid darkviolet;!important
	min-height: 100%;
   }


body {

background-color:white;


}


.logo { 
		
    max-width: 130%;
    max-height: 100%;

}
        

.logo {
            
    height:120px;
    width: 120px;
    clear: none;
    float: left;
}

 li {

    display: inline-block;
    line-height: 30px;
    margin-left: 20px;

}

.mainmenubtn {
				
    background-color:transparent;
    font-size: 30pt;
    font-family: 'Combo', cursive;
    color:darkviolet;
    border: none;
    padding:20px;
    margin-top:20px;
    position: relative;
      right: -20%;
    top:  245%;
    clear: none;
    float: left;
 
            
}

.parrafos {
		
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'DynaPuff', cursive;
    overflow-wrap: break-word;
    overflow: auto;
    font-size: 0.875em;
    text-align: center;
     line-height: 30px;
        
}


 .parrafos{
		
  
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;

}

.parrafos2 {
		
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'DynaPuff', cursive;
    overflow-wrap: break-word;
    overflow: auto;
    font-size: 0.875em;
    text-align: center;
     line-height: 30px;
     margin-left: 5%;
     margin-right: 10%;
     margin-top: 5%;
        
}

.parrafos3 {
		
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'DynaPuff', cursive;
    overflow-wrap: break-word;
    overflow: auto;
    font-size: 0.875em;
    text-align: center;
     line-height: 30px;
     margin-left: 8%;
    margin-right: 8%;
    margin-top: -2%;

}


.titulos {
		
    color: darkviolet;
    font-family: 'Combo', cursive;
    margin-bottom: 1%;
     margin-left: 29%;
     margin-top: 8%;
     margin-right: 5%;
    
}
.titulos2 {

    color: darkviolet;
    font-family: 'Combo', cursive;
    margin-bottom: 1%;
     margin-left: 17%;
     margin-top: 8%;
     margin-right: 5%;


}

.titulos3 {
		
    color: darkviolet;
    font-family: 'Combo', cursive;
    margin-bottom: 1%;
    text-align: center;
    
}
.hh {

	margin-top: 5%;
}
.hh2 {

	margin-top: 3%;
}

.alineado {


    text-align: left;
   font-family: 'DynaPuff', cursive;
    overflow-wrap: break-word;
    overflow: auto;
    font-size: 0.875em;
    line-height: 35px;
    margin-left:  3%;
    margin-bottom: 2%;
    margin-top: 5%;
    
}

.alineado2 {


	text-align: left;
   font-family: 'DynaPuff', cursive;
	overflow-wrap: break-word;
	overflow: auto;
	font-size: 0.875em;

	line-height: 25px;
	margin-right: 3% ;
	
}

.audifonos {

	 
	margin: 2%;
	 float: right;
	  width: 30%;
	  margin-top: -3%;
	  border-image: linear-gradient(45deg,darkviolet, fuchsia, pink) 1;
	  border-style: solid;
	  border-width: 0.2cm;
	  border-radius: 2%;
    

}

.audifonos2 {

	 
	margin: 2%;
	 float: right;
	  width: 30%;
	  border-image: linear-gradient(45deg,darkviolet, fuchsia, pink) 1;
	  border-style: solid;
	  border-width: 0.2cm;
	  border-radius: 2%;
    

}
.audifonos3 {

	 
	margin: 2%;
	 float: right;
	  width: 30%;
	  border-image: linear-gradient(45deg,darkviolet, fuchsia, pink) 1;
	  border-style: solid;
	  border-width: 0.2cm;
	  border-radius: 2%;
      margin-top: 5%;
    

}
.audifonos4 {

	 
	margin: 2%;
	 float: left;
	  width: 30%;
	  border-image: linear-gradient(45deg,darkviolet, fuchsia, pink) 1;
	  border-style: solid;
	  border-width: 0.2cm;
	  border-radius: 2%;
      margin-top: 3%;
    

}

.Causas {

    margin: -10px;
   
    margin-right: 35%;
    margin-top: 3%;
    font-family: 'DynaPuff', cursive;
    overflow-wrap: break-word;
    overflow: auto;
    font-size: 0.875em;
    text-align: left;
    padding-top: 2%;
    color: darkviolet;



}

.Causas2 {

    margin: -10px;
    
    margin-right: 35%;
    margin-top: 5%;
    font-family: 'DynaPuff', cursive;
    overflow-wrap: break-word;
    overflow: auto;
    font-size: 0.875em;
    text-align: left;
    padding-top: 2%;
    color: darkviolet;



}

.complicaciones {

	
	margin-right: 5%;
	margin-top: 3%;
	font-family: 'DynaPuff', cursive;
	overflow-wrap: break-word;
	overflow: auto;
	font-size: 0.875em;
	text-align: left;
	padding-top: 2%;
	color: darkviolet;



}


.oido {


	margin: 2%;
	 float: left;
	  width: 20%;
	  margin-top: 3%;
	  border-image: linear-gradient(45deg,darkviolet, fuchsia, pink) 1;
	  border-style: solid;
	  border-width: 0.2cm;
	  border-radius: 2%;
   
     

}




