body {

    background-color:white;
   
    
    }
    
    
    .logo { 
            
        max-width: 130%;
        max-height: 100%;
    
    }
            
    
    .logo {
                
        height:120px;
        width: 120px;
        clear: none;
        float: left;
    }
    
     li {
    
        display: inline-block;
        line-height: 40px;
        margin-left: 20px;
    
    }
    
    .mainmenubtn {
                    
        background-color:transparent;
        font-size: 30pt;
        font-family: 'Combo', cursive;
        color:rgb(94, 0, 122);
        border: none;
        padding:20px;
        margin-top:20px;
        position: relative;
          right: -20%;
        top:  245%;
        clear: none;
        float: left;
     
                
    }
    
    .parrafos {
            
        font-family: 'DynaPuff', cursive;
        overflow-wrap: break-word;
        overflow: auto;
        font-size: 0.875em;
        text-align: left;
        padding-top: 2%;
        color: rgb(0, 0, 0);
            
    }
    
    
    p, parrafos{
            
        margin: -30px;
        margin-left: 5%;
        margin-right: 35%;
    
    }

    .parrafos:hover {

color: white;

    }
    
    
    
    .titulos {
            
        font-family: 'Combo', cursive;
        color: darkviolet;
        margin-top: 2.5%;
        margin-bottom: 1%;
        margin-left: 4%;
       
        
    }

    .titulos:hover {

color: fuchsia;

    }
    
    .b {


        color: black;
    }
    
    